<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/stylesheets/top_nav_style.css">
</head>
<body> 
<div class="topnav">
  <img src="/images/RS_Logo_Resize3.png" alt="RJS" class="logo-image">
  <a href="/home"><i class="fa fa-fw fa-home"></i>Home</a>
  <a href="/about"><i class="fa-solid fa-address-card fa-sm"></i>&nbsp;&nbsp;About</a>
  <a href="/contactinfo/contactme"><i class="fa fa-fw fa-envelope"></i>&nbsp;Contact</a>
  <a href="/projects"><i class="fa-solid fa-diagram-project fa-sm"></i>&nbsp;Projects</a>
  <a href="/service"><i class="fa-solid fa-gears fa-sm"></i>&nbsp;Services</a>
  <script src="/javascripts/topnav.js"></script>
  <script>
 
  </script>
</div>
</body>
</html>