<%- include partials/header.ejs %>
<%- include partials/top_nav.ejs %>
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/stylesheets/about.css">
</head>
<body>
  <div class="container">
    <div class="about-section">
      <h2>Hi! I'm Ramon Sapina. Analyst, coder, and database administrator.</h2>
      <p>I'm probably the most passionate person you'll ever get to work with. If you have a job that requires amazing skills, I will be your man.</p>  
      <br>
      <p>My most extensive experience comes from the time at the Perpetual Help Medical Center where I worked as a Database and Applications Officer. My responsibilities include overseeing the hospital's databases and managing the Hospital Information System.</p>
    </div>  
    <img src="/images/RJS_profile3.jpg" alt="Profile Image" class="profile-image">
  </div>
  <div class="container">

    <div class="work-section">
      <h2>Work Experience</h2>
      <div class="pdf-link">
        <a href="/CV/CV Ramon Sapina.pdf" target="_blank">Download Resume (PDF)</a>
      </div>
      <h4>Companies I have worked for in<br>the past...</h4>
      <ul>
        <li>
          <h3>University of Perpetual Help System Dalta</h3>
          <p>Position: System Analyst<br>Duration: Dec. 2015 - Oct. 2016</p>
        </li>
        <li>
          <h3>Perpetual Help Medical Center</h3>
          <p>Position: Database and Applications Officer<br>Duration: Jun. 2006 - Oct. 2015</p>
        </li>
        <li>
          <h3>University of Perpetual Help System Dalta</h3>
          <p>Position: Sr. Programmer<br>Duration: Jun. 2004 - Jun. 2006</p>
        </li>
        <li>
          <h3>University of Perpetual Help System Dalta</h3>
          <p>Position: Instructor<br>Duration: Jun. 2001 - Jun. 2004</p>
        </li>
        <li>
          <h3>AMA Computer College</h3>
          <p>Position: Instructor<br>Duration: Jun. 1998 - Jun. 2000</p>
        </li>
      </ul>
    </div>
  </div>
</body>
</html>