<%- include partials/header.ejs %>
<%- include partials/top_nav.ejs %>

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/stylesheets/contact.css">
</head>
<body>
<div class="panel">
  <h3>Ramon J. Sapina</h3>
  <p>Email: rsapina@my.centennialcollege.ca<br>Phone: +1 437-545-5095<br>Address: 701, 3091 Eglinton Avenue East, Scarborough, ON, M1J 2G1</p>

</div>

<div class="container">
  <h3>You can contact Ramon Sapina by providing your information through this form. Thank you.</h3>
  <form class = "form" method="POST">
  <form action="/home">
    <label for="fname">First Name</label>
    <input type="text" id="pFname" name="pFname" placeholder="Your name..." style="width: 100%; border: 1px solid #ccc; border-radius: 4px; padding: 12px; margin-top: 6px; margin-bottom: 16px; resize: vertical;">

    <label for="lname">Last Name</label>
    <input type="text" id="pLname" name="pLname" placeholder="Your last name..." style="width: 100%; border: 1px solid #ccc; border-radius: 4px; padding: 12px; margin-top: 6px; margin-bottom: 16px; resize: vertical;">

    <label for="email">E-mail</label>
    <input type="text" id="pEmail" name="pEmail" placeholder="your email address..." style="width: 100%; border: 1px solid #ccc; border-radius: 4px; padding: 12px; margin-top: 6px; margin-bottom: 16px; resize: vertical;">

    <label for="mobile">Mobile</label>
    <input type="text" id="pMobile" name="pMobile" placeholder="your mobile number..." style="width: 100%; border: 1px solid #ccc; border-radius: 4px; padding: 12px; margin-top: 6px; margin-bottom: 16px; resize: vertical;">

    <label for="message">Message</label>
    <textarea id="message" name="pMessage" placeholder="Write something.." style="width: 100%; height:200px; border: 1px solid #ccc; border-radius: 4px; padding: 12px; margin-top: 6px; margin-bottom: 16px; resize: vertical;"></textarea>

    <button type="submit" class="btn btn-primary" onclick="return alert('Form Submitted Successfully.')" style="background-color: #04AA6D; color: white; padding: 12px 20px; border: none; border-radius: 4px; cursor: pointer;">Submit</button>
  </form>
  </form>
</div>

</body>
</html>