<%- include partials/header.ejs %>
<%- include partials/top_nav.ejs %>
<!DOCTYPE html>
<html>
<head>
  <title>Welcome</title>
  <link rel="stylesheet" href="/stylesheets/home_style.css">
</head>   
<body>
  <div class="container">
    <div class="description">
      <h2>Welcome to my page!</h2>
      <img src="/images/rjs_image1.jpg" alt="Profile Image">
      <p>Step into my virtual space and experience a glimpse into my world. I'm delighted to have you here, exploring my personal corner of the internet.</p>
      <p>This website is a reflection of who I am, my passions, and my journey. It's a canvas where I express myself, share my thoughts, and connect with kindred spirits like you.</p>
      <p>Take a moment to navigate through the various sections and get to know more <a href="/about">about me</a>. You'll find a collection of my <a href="/project">previous projects</a> and endeavors that I've poured my heart and soul into.</p>
      <p>I invite you to join me on this adventure as we explore life, inspiration, and growth together. This platform is not only about sharing my experiences but also about learning from each other and building a supportive community.</p>
      <p>Feel free to visit my <a href="/service">services page</a> and reach out to me through the provided <a href="/contact">contact form</a>. I would love to hear from you and engage in meaningful conversations. Let's share our stories, exchange ideas, and inspire one another to embrace the beauty of life.</p>
      <p>Thank you for visiting my home on the web. I hope you find moments of inspiration, joy, and connection here. Together, let's make this digital space a sanctuary of positivity, creativity, and personal growth.</p>
      <p>Warmest regards,</p>
      <p>Ramon</p>
    </div>
  </div>
</body>
</html>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>