<%- include partials/header.ejs %>
<%- include partials/top_nav.ejs %>

<main class="container">
  <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <video autoplay muted loop style="max-width: 80%;">
      <source src="/images/RS_Logo_Resize_Vid.mp4" alt="RJS" type="video/mp4">
    </video>
  </div>
</main>



<%- include partials/bottom_nav.ejs %>  
<%- include partials/footer.ejs %>