<%- include partials/header.ejs %>
<%- include partials/top_nav.ejs %>
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/stylesheets/services.css">
</head>
<body>
  <div class="skillset-container">
    <h1>Skillset</h1>
    <div class="skill-card">
      <img src="/images/vb-net-icon-22.jpg" alt="VBnet">
      <h3>VB.Net</h3>
      <p>Several of my pevious projects were implemented using VB.net</p>
      <p>Proficient</p>
    </div>
    <div class="skill-card">
      <img src="/images/VisualCSharp.jpg" alt="VisualC#">
      <h3>Visual C#</h3>
      <p>Most of our Web apps (HIS) were developed using Visual C#.</p>
      <p>Competent</p>
    </div>
    <div class="skill-card">
      <img src="/images/SQL Server.png" alt="SQLServer">
      <h3>MS SQL Server</h3>
      <p>Robust handling of our Enterprise wide data uses MS SQL Server. Stored procedures, Views, Functions and Triggers power up data processing.</p>
      <p>Proficient</p>
    </div>
    <div class="skill-card">
      <img src="/images/OracleDatabase.jpg" alt="Oracle">
      <h3>Oracle Database</h3>
      <p>Learned Oracle Database in one of my courses at Centennial College. Very powerful RDBMS that can run online transaction processing (OLTP), data warehousing (DW), or mixed.</p>
      <p>Intermediate</p>
    </div>
    <div class="skill-card">
      <img src="/images/CrystalReports.png" alt="CrystalReports">
      <h3>Crystal Reports</h3>
      <p>The Reporting Tool that we used for Business Intelligence. It can help you analyze your data by creating richly formatted, pixel-perfect, and multipage reports from virtually any data source, delivered in over a dozen formats.</p>
      <p>Proficient</p>
    </div>
    <div class="skill-card">
      <img src="/images/MSOffice.png" alt="MSOffice">
      <h3>Microsoft Office Suite</h3>
      <p>The office productivity tool known over the world. Microsoft Office Specialist Certified in previous versions.</p>
      <p>Proficient</p>
    </div>
    <div class="skill-card">
      <img src="/images/Java.png" alt="Java">
      <h3>Java</h3>
      <p>On going learning through one of my courses at Centennial College. Java is a high-level, class-based, object-oriented programming language that is designed to have as few implementation dependencies as possible.</p>
      <p>Beginner</p>
    </div>
    <div class="skill-card">
      <img src="/images/Training.jpg" alt="Training">
      <h3>Training/Teaching</h3>
      <p>I have been an Instructor in my previous employment. The same skill I used in training our system users making them learn and understand its use the easy way.</p>
      <p>Proficient</p>
    </div>
  </div>
</body>
</html>